*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;

  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Roboto Mono', monospace;

  --bg-color: black;
  --primary-color: hsl(194, 72%, 13%);
  --secondary-color: hsl(191, 65%, 7%);
  --button-color: hsl(195, 91%, 25%);
  --row-color:  hsla(195, 61%, 6%, 0.5);
  --row-color-alt:  hsl(192, 65%, 7%);
  --text-color:  hsl(240, 9%, 89%);

}

body {
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: var(--bg-color);
  font-family: var(--ff-primary);
}

.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#app{
  padding: 2rem;
  max-width: 112rem;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8rem 0;
}

.search {
  display: flex;
  align-items: center;
  gap: .8rem;
}

.search input {
  width: 46.2rem;
  height: 4.8rem;
  background-color: var(--secondary-color);
  font-size: 1.6rem;
  line-height: 100%;
  border-radius: 5px;
  border: none;
  padding: 1.6rem;
  color: #ffffff;
}

.search button {
  display: flex;
  align-items: center;
  gap: .8rem;
  padding: 1.2rem 3.2rem;
  width: 17rem;
  height: 4.8rem;
  background-color: var(--button-color);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: 400ms;
}

.search button:hover {
  color: var(--button-color);
  background-color: white;
}

.search button:hover svg path {
  fill: var(--bg-color);
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  margin-top: 15rem;
  font-weight: bold;
  font-size: 4rem;
  line-height: 2.5rem;
  color: #4E5455;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table * {
  font-size: 1.4rem;
  color: var(--text-color);
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: bold;
}

table th {
  background-color: var(--primary-color);
  text-align: left;
  padding: 1.6rem;
}

table th:first-child {
  border-top-left-radius: 1.2rem;
  padding-left: 4rem;
}

table th:last-child {
  border-top-right-radius: 1.2rem;
}


table tr:nth-child(odd){
  background-color: var(--row-color)
}

table tr:nth-child(even) {
  background-color: var(--secondary-color)
}

td.user{
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

td.user img{
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 4rem;
}

td.user a {
  text-decoration: none;
}

td .remove {
  background: none;
  border: none;
  color: hsl(355, 91%, 66%);
  cursor: pointer;
}

.repositories, .followers, .remover {
  padding-left: 1.6rem;
}